// Imports
@import url(https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

// Font
$bodyFont: "Barlow Semi Condensed", sans-serif;

$lightWeight: 500;
$heavyWeight: 600;

$bodySize: 1.3rem;

// Color
$moderateViolet: hsl(263, 55%, 52%);
$veryDarkGreyBlue: hsl(217, 19%, 35%);
$veryDarkBlackBlue: hsl(219, 29%, 14%);
$white: #fff;

$lightGray: hsl(0, 0%, 81%);
$lightGrayBlue: hsl(210, 46%, 95%);
